
.user-nav{
    width: 100%;
    background-color: rgb(0, 102, 179);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &_icon-box{
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin: 2rem 7rem;
    
    }
        &_icon1{
        height: 1.5rem;
        width: 1.2rem;
        fill: white;
        color: white;
    }
        &_icon2{
        height: 1.5rem;
        width: 1.2rem;
        fill: white;
        color: white;
    }
        &_notification1{
        font-size: 1.5rem;
        color: white;
        padding-left: 0.5rem;
        padding-right: 5rem;

    }
    &_notification2{
        font-size: 1.5rem;
        color: white;
        padding-left: 0.5rem;

    }
    
    &_links{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        flex: 1;
        & > a{
            color: white;
            text-decoration: none;
            list-style: none;
            // padding: 0 1rem;
        }    
        & > p{
            color: white;
            font-size: 1.5rem;
            padding: 0 1rem;
        }
    }
    
}


.nave-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 20%;
    position: absolute;
    top: 1.5rem;
    left: 10rem;
    
    &_logo{
        
    }
    &_list{
        flex: 1;
        list-style: none;
        margin-left: 20rem;
    }
    &_items{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 10rem;
        text-align: center;
    }
    &_text{
        // flex: 1;
        text-align: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        padding-left: 2rem;
    }
}

.main-view{
        height: 100rem;
        width: 100%;
        background-image: url(../img/b1.jpg);
        animation: educator 10s 6s infinite;
    
    @keyframes educator {
        0%{
            background-image: url(../img/b2.jpg);
        }
        33%{
            background-image: url(../img/b3.jpg);
        }
        66%{
            background-image: url(../img/b4.jpg);
        }
        100%{
            background-image: url(../img/b1.jpg);
        }
        
    }

}